*{
    box-sizing: border-box;
}

body{
    background-color: #e6e2e1;;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    align-items: center;
}
.sign{
    background-color: #3665d9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    color: white;
    margin: 4px;
    font-size: 15px;
    border: 2px solid black;
}

#block{
    margin-right: 6px;
}

.nav-section p{
 padding: 0;
 margin: 2px;
}

.nav-section p a{
    color: #33ace8;
    text-decoration: none;
}

/* form section */

.main-col{
    width: 100%;
    height: auto;
}

.container{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 0;
}

a:hover {
    color: #0678bf;
    text-decoration: none;
   }


a:link{
    color:#0077C5;
    text-decoration: none;    
}


.flex-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-items{
    align-items: center;
    justify-content: space-between;
}

.intuit{
    margin-bottom: 15px;
    width: 100px;
    height: 30px;
}

.turbo {
    width: 26px;
    height: 26px;
   }
.quickbook {
    width: 30px;
    height: 30px;
    margin-left: 10px;
   }
.mint {
    width: 28px;
    height: 30px;
    margin-left: 10px;
   }

.text{
    color:#5c5958;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    margin: -20px 5px 20px 3px;
    
   }


.form{
    background-color: white;
    width: 370px;
    height: auto;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px solid c3c5c7;
}

.h4-text{
    color:#5c5958;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 25px;
    font-weight: lighter;
    padding-top: 5px;
    text-align: center;
}

.p-text{
    margin-top: -15px;
    color: #858382;
    text-align: center;
    font-weight: lighter;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
}

.formInfo{
    text-align: center;
    border: hidden;
    
}


.formInfo label{
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#575551;
   
}

.formInfo input{
    border: 1px solid #c6c9cc;
    border-radius: 3px;
    color: #888;
    margin: 5px 0 27px 0;
    width: 300px;
    padding: 5px 8px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

#p2-text{
    font-weight: lighter;
    color: #615f5c;
    margin-top: -15px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btn{
    width: 290px;
    background-color:#3665d9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    border: 1px solid #c6c9cc;
    border-radius: 4px;
    margin: 5px 5px 30px 0;
    padding-top: 5px;
    padding-bottom: 5px;
}


.disclaimer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 13px;
    font-style: italic;
    color: #757575;
    margin-top: -20px;
}


.form-footer{
    text-align: center;
    padding: 20px 25px;
    font-weight: lighter;
    font-size: 13px;
    color: #757575;
    margin-top: 25px;
    background-color: #ebeff2;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-footer{
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
margin-top: 30px;
}

.legal{
padding-right: 12px;
font-size: 14px;
text-decoration: none;
color: #615f5c;
}


.privacy{
padding-right: 12px;
font-size: 14px;
text-decoration: none;
color: #615f5c;
}


.security{
font-size: 14px;
text-decoration: none;
color: #505050;

}


.para-footer{
font-size: 14px;
align-items: center;
font-weight: lighter;
color: #505050;
}


.lower-para-footer{
padding-left: 70px;
margin-top: -10px;
}



@media scree and (max-width: 750px){
    navbar{
        visibility: hidden;
    }
    .main-col{
        margin-top: -380px;
    }
    .lower-para-footer{
        padding-left: 0;
        margin-top: -8px;
    }
}